package templates

templ CreateTopic() {
<html>
@Base()
@Header()
   <form id="topicForm" action="/create" method="post">

        <input type="text" id="title" name="title" placeholder="Enter Topic Name" required/><br/>
        <textarea
            id="description"
            name="description" 
            placeholder="Enter Your Description"
            required > 
        </textarea> <br/>
        <button type="submit">Submit</button>
    </form>
</html>
    
}
