package templates

templ CreateTopic() {
<h1>CreateTopic</h1>
   <form id="topicForm" action="/create" method="post">

        <label for="Topics">Enter Name:</label><br/>
        <input type="text" id="title" name="title" required/><br/>
        <input type="text" id="description" name="description"/><br/>
        <button type="submit">Submit</button>
    </form>

  


}
