package templates

templ Header() {
  <header>
    <h2>Hano</h2>
  </header>
}

templ SideBar() {
  <div class="sidebar">
    <a href="/home"> home</a>
    <a href="/home"> home</a>
    <a href="/home"> home</a>
    <a href="/home"> home</a>
 
  </div>
}
